<?xml version="1.0" encoding="utf-8" ?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HelloWorld</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova.plugin.androidappiconchanger" spec="https://github.com/biswas123/androidappiconchanger.git" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="www/launcher-icons/mipmap-hdpi/red.png" target="app/src/main/res/mipmap-hdpi/red.png" />

        <!--   <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity-alias android:label="MainActivityRed" android:icon="@mipmap/red" android:name="com.example.hello.MainActivityRed" android:enabled="false" android:targetActivity="com.example.hello.MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity-alias>
        </config-file> -->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="phonegap-version" value="cli-9.0.0" />
</widget>